<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
    <!-- wp:heading {"level":1} -->
    <h1 class="wp-block-heading">Sidan hittades inte</h1>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>Det verkar som att du har följt en länk som inte längre fungerar eller aldrig har fungerat. Du kanske vill
        försöka söka efter det du letar efter.</p>
    <!-- /wp:paragraph -->

    <!-- wp:search {"label":"Sök","buttonText":"Sök"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->